@font-face {
  font-family: "Arial";
  src: "../fonts/hinted-subset-ArialMT.eot";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: "../fonts/hinted-subset-AvenirNextLTPro-Regular.eot";
  font-weight: normal;
  font-style: normal;
}


